:root {
    --font-poppins: 'Poppins';
}
.header {
    background-color: #000;
    padding-bottom: 80px;
}
.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: #000;
}
.fa-bars {
    display: none;
    color: #fff;
    font-size: 25px;
}
.ul-li-item {
    font-family: var(--font-poppins);
    width: 505px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 36px;
    color: #fff;
}
.nav-li-item:hover {
    color: #FF7420;
    border-bottom: 2px solid #FF7420;
    cursor: pointer;
}
.language-selector {
    border: none;
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 36px;
    outline: none;
    margin-right: 24px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.contact-button {
    background-color: #FF7420;
    width: 194px;
    height: 66px;
    border: none;
    border-radius: 15px;
    color: #fff;
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 36px;
    cursor: pointer;
    transition: 0.20s;
}
.contact-button:hover {
    opacity: 0.9;
}
/* HEADER */
/* FIRST SECTION */
.background-image {
    background-image: url(../images/photo_construction-workers-surveying-site\ 1.jpg);
    width: 100%;
    height: 884px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 154px 0 0 122px;
}
.title-text {
    max-width: 607px;
    width: 100%;
}
.title-text h1 {
    font-family: var(--font-poppins);
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    max-width: 459px;
    width: 100%;
}
.span-item {
    color: #FF7420;
}
.title-text p {
    color: #fff;
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin: 14px 0 75px 0;
}
.buttons {
    display: flex;
    align-items: center;
}
.first-button,
.second-button {
    width: 246px;
    height: 66px;
    background: #FF7420;
    border: none;
    border-radius: 15px;
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}
.second-button {
    width: 208px;
    height: 66px;
    background-color: #fff;
    color: #191A19;
    margin-left: 24px;
}
.first-button:hover,
.second-button:hover {
    opacity: 0.8;
}
/* FIRST SECTION */

/* SECOND SECTION  */

.background {
    background-color: #FF7420;
    padding: 57px 0 65px 0;
}
.flex-div-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.second-section-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}
.second-section-title h3 {
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    color: #191A19;
}
.list-block {
    max-width: 750px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
}
.list:hover {
    color: #191A19;
    border-bottom: 2px solid #191A19;
    outline: none;

}
.background-image01,
.background-image02,
.background-image03 {
    background-image: url(../images/donny-jiang-42gFAgdIUC8-unsplash\ 1.jpg);
    max-width: 385px;
    width: 100%;
    height: 513px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.background-image02 {
    background-image: url(../images/daniele-buso-73AF6JIEBl8-unsplash\ 1.jpg);
}
.background-image03 {
    background-image: url(../images/jack-b-jQByZkbC5Q4-unsplash\ 1.jpg);
}
.title-text-block {
    padding: 422px 0 22px 0;
}
.background-image01 h3,
.background-image01 h4,
.background-image02 h3,
.background-image02 h4,
.background-image03 h3,
.background-image03 h4 {
    font-family: var(--font-poppins);
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}
.background-image01 h4 {
    font-size: 20px;
    line-height: 30px;
}
.p-item {
    font-family: var(--font-poppins);
    color: #191A19;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
   display: flex;
   justify-content: flex-end;
}
.fa-circle-arrow-right {
    margin: 32px 40px 0 13px;
}
/* SECOND SECTION  */

/* THIRD SECTION */
.background-color {
    background-image: linear-gradient(180deg, #191A19 0%, rgba(0, 0, 0, 0) 152.79%);
    height: 500px;
    text-align: center;
    padding-top: 60px;
}
.main-title {
    color: #FF7420;
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
}
.background-color p,
.name {
    color: #FFFFFF;
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.name {
    font-weight: 500;
    margin-bottom: 4px;

}
.background-color p {
    max-width: 1067px;
    margin: 28px auto 14px auto;

}
.occupation {
    color: #FFFFFF;
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
/* THIRD SECTION */

/* FOURTH SECTION */
.section-bg {
    background-color: #000;
    padding-top: 50px;
}
.fourth-section-title h1 {
    color: #FFFFFF;
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 86px;
    text-align: center;
    margin-bottom: 50px;
}
.flex-block-container {
    margin: 0 auto;
    display: flex;
    column-gap: 20px;
    padding: 0 20px;
}
.form-wrapper {
    background: #FF7420;
    max-width: 963px;
    width: 100%;
    border-radius: 15px;
    padding: 10px 0 0 15px;
}
.form-wrapper h6 {  
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}
.form-wrapper p {
    color: #FFFFFF;
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    max-width: 895px;
    width: 100%;
    margin: 24px 0 18px 0;
}
.form-label-item {
    background-color: #FFFFFF;
    max-width: 419px;
    width: 100%;
    height: 76px;
    border: none;
    border-radius: 15px;
    margin: 0px 12px 12px 0;
    padding: 4px 0 0 15px;
    font-family: var(--font-poppins);
    color: rgba(25, 26, 25, 0.5);
}
.form-label-item,
.feedback-block {
    outline: none;
}
.feedback-block {
    max-width: 855px;
    width: 100%;
    height: 148px;
    border: none;
    border-radius: 15px;
    resize: none;
    font-family: var(--font-poppins);
    color: rgba(25, 26, 25, 0.5);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    padding: 10px 0 0 10px;
}
.submit-button {
    max-width: 855px;
    width: 100%;
    height: 60px;
    background: #191A19;
    border: none;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    margin: 24px 0 45px 0;
    cursor: pointer;
    transition: 0.15s;
}
.submit-button:hover,
.contact-us-button:hover {
    opacity: 0.9;
}
.contact-info {
    max-width: 499px;
    width: 100%;
    background: #FF7420;
    border-radius: 15px;
    padding: 15px 0 0 30px;
}
.contact-info h5 {
    color: #FFFFFF;
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}
.contact-info h6,
.contact-info p,
.footer-contact-info {
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}
.contact-info p {
    width: 80%;
}
.contact-information,
.span-tag,
.footer-text {
    font-family: var(--font-poppins);
    color: rgb(253, 250, 244);
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}
.contact-details {
    display: flex;
    flex-direction: column;
}
.location {
    margin: 38px 0 24px 0;
    max-width: 355px;
    width: 90%;
}
.working-hours {
    margin: 38px 0 24px 0;
    display: flex;
    flex-direction: column;
}
.contact-us-button {
    background: #191A19;
    border-radius: 15px;
    max-width: 384px;
    width: 100%;
    height: 60px;
    border: none;
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 45px 0;
    cursor: pointer;
}
/* FOOTER */
.footer {
    background-color: #191A19;
    padding: 60px 0 60px 0;
}
.footer-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.label-text {
    color: #FFFFFF;
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
.email-input {
    font-family: var(--font-poppins);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 5px;
    outline: none;
    border-bottom: 2px;
    height: 24px;
    max-width: 250px;
    width: 100%; 
}
.paragraph {
    max-width: 516px;
    width: 90%;
}
.map-block {
    max-width: 306px;
    width: 90%;
}
.email-block {
    max-width: 255px;
    width: 90%;
}
.footer-text-block {
    display: flex;
    justify-content: space-around;
    column-gap: 20px;
}
.footer-icon-div {
    max-width: 206px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    margin: 40px 0 0 30px;
}
